pre{
    font-family:'Times New Roman', Times, serif;
}
body{
    padding-left:35% ;
    align-items: center;
    background-color: grey;
}
#form #mail{
    align-items: center;
    width:300px;
    background-color:white;
    padding: 10px;
    border-radius: 6px;
    font-style: 18px;
    outline: none;
    border:none;
}
.card{
    text-align:center;
    width:60%;
    height:30%;
    border-radius: 15px;
    border-color:black;
    background-color: lightgreen;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
